<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tz.lsn15_propertyanimation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ocean.anim.OceanMainActivity" />
        <activity android:name="com.ocean.anim.object.ObjectAnimActivity" />
        <activity android:name="com.ocean.anim.value.ValueAnimActivity" />
        <activity android:name="com.ocean.anim.set.SetAnimActivity" />
        <activity android:name="com.ocean.anim.inflator.InflatorAnimActivity" />
        <activity android:name="com.ocean.anim.evaluator.EvaluatorAnimActivity" />
        <activity android:name="com.ocean.anim.layoutTransition.LayoutActivity" />
        <activity android:name="com.ocean.anim.layoutTransition.LikeTopTags" />
        <activity android:name="com.ocean.anim.other.OtherActivity" />
        <activity android:name="com.ocean.anim.animate.ViewActivity" />
        <activity android:name=".ObjectAnimation.ObjectAnimationActivity" />
        <activity android:name=".CoolSafari.CoolSafariAnimationActivity" >
        </activity>
        <activity
            android:name=".GifEngine.GifEngineActivity"
            android:label="@string/title_activity_gif_engine" >
        </activity>
        <activity android:name=".bouncingball.BouncingBallsActivity" />
        <activity android:name=".interpolator.InterpolatorActivity" />
        <activity android:name=".LayoutAnimation.LayoutAnimationActivity" />
        <activity
            android:name=".CalculateGridLayout.CalculateGridLayoutActivity"
            android:label="@string/title_activity_calculate_grid_layout" >
        </activity>
    </application>

</manifest>
